<!DOCTYPE html>
<html lang="en">
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <title>Model Deployment</title>
 
</head>

<body>
 
    <h1>Weather Prediction</h1>
    <form action="/" method="POST">
      <input type="number" name="Morning" placeholder="Morning" required="required" />   
      <input type="number" name="Noon" placeholder="Noon" required="required" />
 		  <input type="number" name="Evening" placeholder="Evening" required="required" />
 		  <input type="number" name="Night" placeholder="Night" required="required" />
 		
      <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
    </form>
    
    <p>Today it was:</p>{{ prediction }}
    




</body>
</html>